<!DOCTYPE html>
<html class="ui-page-accountlist">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link href="css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="css/icons-extra.css" />
		<link href="css/hx.css" rel="stylesheet" />
		<style>
			#app .mui-content {
				margin-top: 0;
				padding-top: 0;
			}
			
			#effectslist .mui-table-view-chevron {
				margin-top: 55px;
			}
			
			.accountinput {
				width: 100%;
				height: 45px;
				padding: 0;
				color: #999;
				border: 0;
				font-size: 15px;
				margin-bottom: 0;
			}
			
			.accountp {
				font-size: 18px;
				text-align: center;
			}
			
			.accountp .receive {
				color: #228B22;
			}
			
			.accountp .send {
				color: #CF2D28;
			}
			
			.accountp .buy {
				color: #4682B4;
				font-size: 15px;
			}
		</style>
	</head>

	<body>

		<div id="app" v-cloak>
			<div class="waiting"><span><img src="images/waiting2.svg" alt="正在载入" />正在载入...</span></div>

			<header class="mui-bar mui-bar-nav">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
				<h1 class="mui-title">账单</h1>
			</header>

			<div class="mui-content">

				<div class="effectslist mui-scroll-wrapper" id="effectslist">
					<div class="mui-scroll">
						<div class="mui-table-view-chevron">
							<div class="mui-card " v-for="item in alldata" v-cloak>
								<div class="mui-card-header"><span v-show="item.created_at!=''">{{translatetime(item.created_at)}}</span><span>{{translatetype(item.operation.type)}}</span></div>

								<!--委托兑换-->
								<div class="mui-card-content" v-if="item.operation.type=='create_passive_offer' || item.operation.type=='manage_offer'">
									<div class="mui-card-content-inner">
										<div class="accountp">
											<span class="buy">
												<span>
{{formatenum(item.sold_amount,3)}} {{translateassetname(item.sold_asset_code,item.sold_asset_type)}} 
													<span class="mui-icon mui-icon-arrowthinright"></span> {{formatenum(item.bought_amount,3)}} {{translateassetname(item.bought_asset_code,item.bought_asset_type)}} <span class="red">({{formatenum(1/item.operation.price,5)}})</span>
											</span>
											</span>
										</div>
									</div>
								</div>

								<!--兑换-->
								<div class="mui-card-content" v-if="item.operation.type=='path_payment'">
									<div class="mui-card-content-inner">
										<div class="accountp">
											<span class="buy">
												<span>
{{formatenum(item.sold_amount,3)}} {{translateassetname(item.sold_asset_code,item.sold_asset_type)}} 
													<span class="mui-icon mui-icon-arrowthinright"></span> {{formatenum(item.bought_amount,3)}} {{translateassetname(item.bought_asset_code,item.bought_asset_type)}} <span class="red">({{formatenum(item.sold_amount/item.bought_amount,5)}})</span>
											</span>
											</span>
										</div>
									</div>
								</div>

								<!--转账-->
								<div class="mui-card-content" v-if="item.operation.type=='payment'">
									<div class="mui-card-content-inner">
										<textarea readonly="readonly" class="accountinput">{{item.operation.targetid}}</textarea>
										<div class="accountp">
											<span :class="item.operation.issend=='1' ? 'send' : 'receive'">
												<span>{{item.operation.amount}} {{translateassetname(item.operation.asset_code,item.operation.asset_type)}}</span>
											</span>
										</div>
									</div>
								</div>
								
								<!--账号激活-->
								<div class="mui-card-content" v-if="item.operation.type=='account_merge' || item.operation.type=='create_account'">
									<div class="mui-card-content-inner">
										<textarea readonly="readonly" class="accountinput">{{item.operation.account}}</textarea>
										<div class="accountp">
											<span :class="item.operation.issend=='1' ? 'send' : 'receive'">
												<span>{{item.operation.amount}} {{translateassetname(item.operation.asset_code,item.operation.asset_type)}}</span>
											</span>
										</div>
									</div>
								</div>
								
								<!--更改信任-->
								<div class="mui-card-content" v-if="item.operation.type=='change_trust'">
									<div class="mui-card-content-inner">
										<div class="accountp">
											<span class="buy">

												<span v-if="formatenum(item.operation.limit,3)>0" class="receive">
													{{translateassetname(item.operation.asset_code,item.operation.asset_type)}}
														<span class="mui-icon mui-icon-checkmarkempty"></span> 
												</span>
												
												<span v-if="formatenum(item.operation.limit,3)==0" class="send">
													<del>{{translateassetname(item.operation.asset_code,item.operation.asset_type)}}</del>
														<span class="mui-icon mui-icon-closeempty"></span> 
												</span>


											</span>
										</div>
									</div>
								</div>

								<!--<div class="mui-card-content" v-if="item.operation.type=='payment'">
									<div class="mui-card-content-inner">
										<div class="accountp">
											<span class="buy">
												<span>
													{{item.source_max}} {{item.source_asset_code}} 
													<span class="mui-icon mui-icon-arrowthinright"></span> {{item.amount}} {{item.asset_code}}
											</span>
											</span>
										</div>
									</div>
								</div>
								<div class="mui-card-content" v-if="item.type=='create_passive_offer'">
									<div class="mui-card-content-inner">
										<div class="accountp">
											<span class="buy">
												<span>
													{{formatenum(item.amount*item.price,3)}} {{item.selling_asset_code}} 
													<span class="mui-icon mui-icon-arrowthinright"></span> {{formatenum(item.amount,3)}} {{item.buying_asset_code}} <span class="red">({{item.price}})</span>
											</span>
											</span>
										</div>
									</div>
								</div>-->
								<div class="mui-card-footer" v-show="">
									备注：
								</div>
								<!--<div class="mui-card-footer">页脚</div>-->
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>
		<script src="libs/bower_components/stellar-sdk/stellar-sdk.js"></script>
		<script src="js/gateways.js"></script>
		<script src="js/jquery.js"></script>
		<script src="js/template-web.js"></script>
		<script src="js/mui.min.js"></script>
		<script src="js/function.js"></script>
		<script src="js/mui.enterfocus.js"></script>
		<script src="js/sjcl.js"></script>
		<script src="js/vue.js"></script>
		<script src="js/hx.js"></script>
		<script>
			mui.plusReady(function() {
				$.checkuser();

				var vm = new Vue({
					el: '#app',
					data: {
						alldata: [{
							operation: {
								created_at: ""
							}
						}],
						nexturl: "",
						oldnexturl: ""
					},
					created: function() {
						this.getfirstpage();
					},
					methods: {
						formatenum: function(n, m) {
							return parseFloat(n).toFixed(m);
						},
						getfirstpage: function() {
							var ts = this;
							var dtd = $.Deferred();

							$.get($.apiaddress + "/accounts/" + $.getsourcePublicKey() + "/effects?limit=10&order=desc").then(function(effectResults) {
								//console.log(JSON.stringify(effectResults));
								ts.alldata = [];
//								var usefullindex = 0;
								$.each(effectResults._embedded.records, function(index, value) {
									var _value = value;
									_value.operation = {
										created_at: "-"
									};
									ts.alldata.push(_value);
//									if(value.type == "account_debited" || value.type == "trade"){
//										usefullindex++;
//										
//									}
									
								});
								
//								if(usefullindex<1){
//									mui('#effectslist').pullRefresh().pullupLoading();
//								}

								//console.log(JSON.stringify(ts.alldata));
								ts.nexturl = effectResults._links.next.href;
								ts.oldnexturl = "";
								ts.getofferdetail();
								dtd.resolve();
							});
							return dtd.promise();
						},
						translatetype: function(word) {
							if(word == "payment") return "转账";
							if(word == "path_payment") return "兑换";
							if(word == "change_trust") return "更改信任";
							if(word == "manage_offer") return "委托兑换";
							if(word == "create_passive_offer") return "委托兑换";
							if(word == "create_account") return "创建账号";
							if(word == "account_merge") return "账号激活成功";

							return word;
						},
						translatetime: function(creattime) {
							if(!creattime || creattime == "-") return creattime;
							var t = new Date(creattime).getTime();
							var targetDate = new Date(t);
							return targetDate.Format("yyyy-MM-dd hh:mm:ss");
						},
						translateassetname: function(code, type) {
							return type == 'native' ? "XLM" : code;
						},
						getnextpage: function(callback) {
							var ts = this;
							//debugger;
							if(ts.nexturl && ts.nexturl != ts.oldnexturl) {
								ts.oldnexturl = ts.nexturl;
								plus.nativeUI.showWaiting("等待中....", {
									padlock: true
								});
								$.get(ts.nexturl)
									.then(function(effectResults) {
										//console.log(JSON.stringify(effectResults));
										var recordsdata = effectResults._embedded.records;

										if(recordsdata && recordsdata.length > 0) {
											$.each(effectResults._embedded.records, function(index, value) {
												var _value = value;
												_value.operation = {
													created_at: "-"
												};
												
//												if(value.type == "account_debited" || value.type == "trade"){
													ts.alldata.push(_value);
//												}
											});
											ts.nexturl = effectResults._links.next.href;
											ts.getofferdetail();
											callback(true);
										} else {
											callback(false);
										}
										//console.log(ts.nexturl);
										//console.log(ts.oldnexturl);

									})
									.catch(function() {
										callback(false);
									})
									.done(function() {
										plus.nativeUI.closeWaiting();
									})
							} else {
								callback(false);
							}
						},
						getofferdetail: function() {
							var ts = this;

							$.each(ts.alldata, function(index, value) {
								if(ts.alldata[index].operation.created_at == "-") {
									var _links = value._links.operation.href;
									$.get(_links)
										.then(function(rsresult) {
											var ret = rsresult;

											if(ret.type == "payment") {
												var targetid = "";
												var issend = "-1";
												var amount = ret.amount;

												if(ret.from == $.getsourcePublicKey()) {
													targetid = ret.to;
													issend = 1;
													amount = "- "+amount;
												}
												if(ret.to == $.getsourcePublicKey()) {
													targetid = ret.from;
													issend = 0;
													amount = "+ "+amount;
												}
												ret.targetid = targetid;
												ret.issend = issend;
												ret.amount = amount;
											}

											vm.$set(ts.alldata[index], 'operation', ret);
											//console.log(JSON.stringify(targetid));
											//console.log(JSON.stringify($.getsourcePublicKey()));

										});
								}
							});

						}

					},
					computed: {
						reversedalldata: function() { //提取用来显示的数据
							var _data = [];
							var ts = this;

							$.each(ts.alldata, function(index, value) {

								var _obj = value.operation;

								_obj.targetid = ""; //目标账户
								_obj.issend = '-1';
								_obj.amount = value.amount;

								if(_obj.type == "payment") {
									if(_obj.from == $.getsourcePublicKey()) {
										_obj.targetid = _obj.to;
										_obj.issend = '1';
										_obj.amount = " - " + _obj.amount;
									} else if(_obj.to == $.getsourcePublicKey()) {
										_obj.targetid = _obj.from;
										_obj.issend = '0';
										_obj.amount = " + " + _obj.amount;
									}
								}
								//console.log(_obj.targetid);

								_obj.asset_code = _obj.asset_type == 'native' ? 'XLM' : _obj.asset_code;
								_obj.buying_asset_code = _obj.buying_asset_type == 'native' ? 'XLM' : _obj.buying_asset_code;
								_obj.selling_asset_code = _obj.selling_asset_type == 'native' ? 'XLM' : _obj.selling_asset_code;
								_obj.source_asset_code = _obj.source_asset_type == 'native' ? 'XLM' : _obj.source_asset_code;

								_data.push(_obj);
							});

							return _data;
							//console.log(JSON.stringify(plus.storage));
							//console.log($.objItem.getobjItem("fff"));

						}
					}
				});

				mui.init({
					pullRefresh: {
						container: '#effectslist',
						up: {
							//height: 50, //可选.默认50.触发上拉加载拖动距离
							auto: false, //可选,自动上拉加载一次,默认false.
							contentrefresh: "正在加载中...", //可选，正在加载状态时，上拉加载控件上显示的标题内容
							contentnomore: '没有更多数据了', //可选，请求完毕若没有更多数据时显示的提醒内容；
							callback: pullgetdata //必选，刷新函数，根据具体业务来编写，比如通过ajax从服务器获取新数据；
						},
						down: {
							height: 50, //可选,默认50.触发下拉刷新拖动距离,
							auto: false, //可选,默认false.首次加载自动下拉刷新一次
							contentdown: "下拉可以刷新", //可选，在下拉可刷新状态时，下拉刷新控件上显示的标题内容
							contentover: "释放立即刷新", //可选，在释放可刷新状态时，下拉刷新控件上显示的标题内容
							contentrefresh: "正在刷新...", //可选，正在刷新状态时，下拉刷新控件上显示的标题内容
							callback: pullgetfirstdata //必选，刷新函数，根据具体业务来编写，比如通过ajax从服务器获取新数据；
						}
					}
				});

				function pullgetfirstdata() {
					//console.log("触发下拉事件");
					var ts = this;
					vm.getfirstpage().then(function() {
						ts.endPulldownToRefresh(true);
						mui('#effectslist').pullRefresh().enablePullupToRefresh(); //下拉刷新完成后要重新启用上拉加载
						//mui('#effectslist').pullRefresh().endPulldown();
					});
				}

				function pullgetdata() {
					//console.log("触发上拉事件");
					var ts = this;
					vm.getnextpage(function(e) {
						if(e) {
							ts.endPullupToRefresh(false);
						} else {
							ts.endPullupToRefresh(true);
						}
					});
				}

			});
		</script>
	</body>

</html>